<div class="ui container">
  {{#if user}}
    <div class="ui centered four doubling stackable cards">
      {{#each user}}
        <div class="ui raised card">
          <a href="/viewUser/{{_id}}" class="center aligned content">
            <div class="description">
              <img class="ui small image" src="/images/user.png">
              <p>{{firstName}} {{lastName}}</p>
              {{email}}
            </div>
          </a>
          <section class="extra center aligned content">
            <button class="circular ui icon teal button item" data-modal="editUser{{_id}}">
              <i class="edit icon"></i>
            </button>
            <a href="/deleteUser/{{_id}}">
              <button class="circular ui icon red button">
                <i class="trash icon"></i>
              </button>
            </a>
          </section>
        </div>
        {{> updateSettings modal='true' user=this role='admin' errors=../errors admin='true'}}
      {{/each}}
    </div>
  {{else}}
    <section class="ui center aligned segment">
      There are no users yet :(
    </section>
  {{/if}}
</div>