{{#if modal}}
  <section class="ui modal" id="editUser{{user._id}}"><i class="close icon"></i>
    <header class="header">Update Account</header>
  <div class="content">
{{/if}}
    <form class="ui form" action="/settings/{{user._id}}/{{role}}" method="POST">
      {{# unless admin}}
        <h3 class="ui header">Update Account</h3>
      {{/unless}}
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <div class="ui input left icon">
            <i class="user icon"></i>
            <input value="{{user.firstName}}" placeholder="First Name" type="text" name="firstName">
          </div>
        </div>
        <div class="field">
          <label>Last Name</label>
          <div class="ui input left icon">
            <i class="user icon"></i>
            <input value="{{user.lastName}}" placeholder="Last Name" type="text" name="lastName">
          </div>
        </div>
      </div>
      <div class="field">
        <label>Email</label>
        <div class="ui input left icon">
          <i class="mail icon"></i>
          <input value="{{user.email}}" placeholder="Email" type="text" name="email">
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <div class="ui input left icon">
          <i class="lock icon"></i>
          <input value="{{user.password}}" type="password" name="password">
        </div>
      </div>
      <div class="ui center aligned basic segment">
        <button class="ui blue submit button"><i class="save icon"></i>Save</button>
      </div>
      {{> formerror }}
    </form>
{{#if modal}}
  </div>
  </section>
{{/if}}
